.color__box-container {
  position: relative;
  .color__box {
    cursor: pointer;
  }
  .color__picker {
    position: absolute;
    z-index: 9999;
    top: calc(100% + 10px);
  }
}

.edit__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inline_stack {
  display: flex;
  // align-items: center;
  // justify-content: space-between;
}
